<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <tr>
      <th>ID</th>
      <th>Car_Detail</th>
      <th>Kms & Exp.Price</th>
      <th>Reg. Details</th>
      <th></th>
    </tr>

    <%@vehicles.each do |s|%>
      <tr>
        <td>
          <%= s.id %>
        </td>
        <td>
          <b>Car:</b> <%= s.try(:carinfo) %> <br/>
          <b>Make Yr: </b> <%= s.try(:manufactured_year) %> <br/>
          <b>Color: </b> <%= s.try(:exterior_color).capitalize%>
        </td>

        <td>
          <b>KMs.Done:</b> <%= s.try(:milage) %>  <br/>
           <b>Exptd. Price:</b> <%= number_to_currency(s.try(:sell_price), :unit => "Rs.") %>
        </td>

        <td>
          <b>City:</b> <%= s.try(:location).capitalize %>  <br/>
          <b>Reg.No:</b> <%= s.try(:registration_no) %>  <br/>
          <b>Reg. at:</b> <%= s.try(:registration_state).capitalize  %>
        </td>
   
      </tr>
    <% end %>
  </table>
</div>
  <%= paginate @vehicles %>