<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <tr>
      <th>ID</th>
      <th>Car_Detail</th>
      <th>Kms & Exp.Price</th>
      <th>Reg. Details</th>
      <th>Insurance & Tax</th>  
      <th></th>
    </tr>

    <%@vehicles.each do |s|%>
      <tr>
        <td>
          <%= s.id %>
        </td>
        <td>
          <b>Car:</b> <%= s.try(:carinfo) %> <br/>
          <b>Make Yr: </b> <%= s.try(:manufacture_year) %> <br/>
          <b>Owner: </b> <%= s.try(:owner_type) %> <br/>
          <b>Color: </b> <%= s.try(:color)%>
        </td>

        <td>
          <b>KMs.Done:</b> <%= s.try(:kms_done) %>  <br/>
          <b>Exptd. Price:</b> <%= s.try(:expected_price) %>
        </td>

        <td>
          <b>City:</b> <%= s.try(:city) %>  <br/>
          <b>Reg.No:</b> <%= s.try(:registration_no) %>  <br/>
          <b>Reg. at:</b> <%= s.try(:registration_at) %>
        </td>

        <td>
          <b>Insur:</b> <%= s.try(:car_insurence) %>  <br/>
          <b>Insurance Till:</b> <%= s.try(:insurence_valid_till) %>
        </td>     
      </tr>
    <% end %>
  </table>
  
  <%= paginate @vehicles %>