
 <h1>Hello Admin, </h1> <br /><br />
    <h4>Please check  details  Post requirements</h4>

		min_budget: <b> <%= @a %> </b><br />
		:max_budget: <b> <%= @b %> </b><br />
		car_year: <b> <%= @c %> </b><br />
		car_year1: <b> <%= @d %> </b><br />
		make: <b> <%= @e %> </b><br />
		model: <b> <%= @f %> </b><br />
		body_type1: <b> <%= @g %> </b><br />
		body_type2: <b> <%= @h %> </b><br />
		body_type3: <b> <%= @i %> </b><br />
		body_type4: <b> <%= @j %> </b><br />
		body_type5: <b> <%= @k %> </b><br />
		body_type6: <b> <%= @l %> </b><br />
		body_type7: <b> <%= @m %> </b><br />
		body_type8: <b> <%= @n %> </b><br />
		body_type9: <b> <%= @o %> </b><br />
		fuel_type1: <b> <%= @p %> </b><br />
		fuel_type2: <b> <%= @q %> </b><br />
		fuel_type3: <b> <%= @r %> </b><br />
		fuel_type4: <b> <%= @s %> </b><br />
		name: <b> <%= @t %> </b><br />
		Email: <b> <%= @u %> </b><br />
		Phone: <b> <%= @v %> </b><br />
		

