<%= render :partial => "admin/shared/stocks_navbar" %>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <%= form_for @specification, :url => create_master_specification_admin_stocks_path, :method => "POST" do |f| %>
      
      <% if @specification.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@specification.errors.count, "error") %> prohibited this category from being saved:</h2>
    
            <ul>
              <% @specification.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <b>Add Specification to master specification</b>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <%= f.label :specification_category_id, "Specification Category" %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= f.select :specification_category_id, options_for_select([["- Select -", ""]] + SpecificationCategory.all.map {|m| [m.name, m.id]}), {}, :class => "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <%= f.label :name, "Specification" %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= f.text_field :name, :class => "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.submit "Submit", :class => "btn btn-md btn-warning" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <div class="row">
       <div class="form-group">
         <b>Specifications</b>
       </div>
      </div>

      <div class="row">
       <div class="form-group">
         <b>Technical Specification</b>
           <% if @technicals.present? %>
             <% @technicals.each do |technical| %>
                <p><%= technical.name %></p>
             <% end %>
           <% end %>
       </div>
     </div>
    

    <div class="row">
       <div class="form-group">
         <b>Features</b>
           <% if @features.present? %>
             <% @features.each do |technical| %>
                <p><%= technical.name %></p>
             <% end %>
           <% end %>
       </div>
     </div>
    
    <div class="row">
       <div class="form-group">
         <b>Entertainment Specification</b>
           <% if @entertainments.present? %>
             <% @entertainments.each do |technical| %>
                <p><%= technical.name %></p>
             <% end %>
           <% end %>
       </div>
     </div>
   

    <div class="row">
       <div class="form-group">
         <b>Safety Specification</b>
           <% if @safeties.present? %>
             <% @safeties.each do |technical| %>
                <p><%= technical.name %></p>
             <% end %>
           <% end %>
       </div>
     </div>

     <div class="row">
       <div class="form-group">
         <b>Others</b>
           <% if @others.present? %>
             <% @others.each do |technical| %>
                <p><%= technical.name %></p>
             <% end %>
           <% end %>
       </div>
     </div>
    </div>
    </div>
  </div>
</div>