<%= render :partial => "admin/shared/stocks_navbar" %>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
       <%= form_for(@car_model, :url => create_model_admin_stocks_path, :method => "POST") do |f| %>        
         <% if @car_model.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@car_model.errors.count, "error") %> prohibited this category from being saved:</h2>
    
            <ul>
              <% @car_model.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <b>Add Vehicle Model</b>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <%= f.label :manufacturer_id, "Manufacturer" %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= f.select :manufacturer_id, options_for_select([["- Select -", ""]] + Manufacturer.all.map {|m| [m.name, m.id]}), {}, :class => "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <%= f.label :name, "Enter Model" %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= f.text_field :name, :class => "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
             
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
             <span class="text-muted">Ex: A-Star</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= f.submit "Add Model", :class => "btn btn-md btn-warning" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <div id="load_variant">
        <%= form_for(@car_varient, :url => create_varient_admin_stocks_path, :method => "POST") do |form| %>
        <% if @car_varient.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@car_varient.errors.count, "error") %> prohibited this category from being saved:</h2>
    
            <ul>
              <% @car_varient.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <b>Add Vehicle Varient</b>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <b>Manufacturer</b>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= select_tag :manufacturer_id, options_for_select([["- Select -", ""]] + @manufacturers.map {|m| [m.name, m.id]}), :class => "form-control", :id => "manufacturer_id", :onchange => "load_all(this)" %>
            </div>
          </div>
        </div>

        <div id="add_model">
          <%= render :partial => "admin/stocks/load_models_add" %>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <%= form.label :name, "Enter Varient" %>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= form.text_field :name, :class => "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
             
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
             <span class="text-muted">Ex: Lxi</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= form.submit "Add Model", :class => "btn btn-md btn-warning" %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function load_all(obj) {
    var manufacturer_id = obj.value;
    $.ajax({
      url: "/admin/stocks/car_model",
      dataType: "Script",
      type: "GET",
      data: {
        manufacturer_id: manufacturer_id,
        child_id: "add_model"
      }
    });
  }
</script>