<%= render :partial => "admin/shared/stocks_navbar" %>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <%= form_tag @car_model, :url => update_model_admin_stocks_path, :method => "GET", :remote => true do %>        
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <b>Update Vehicle Model</b>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <b>Manufacturer</b>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= select_tag :manufacturer_id, options_for_select([["- Select -", ""]] + @manufacturers.map {|m| [m.name, m.id]}), :class => "form-control", :id => "manufacturer_id", data: { child_id: 'load_carmodels' } %>
            </div>
          </div>
        </div>

        <div id="load_carmodels">
          <%= render :partial => "admin/stocks/load_carmodels" %>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <b>Enter Model</b>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= text_field_tag :name, nil, :class => "form-control modal_name1" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">

            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <span class="text-muted">Ex: A-Star</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= submit_tag "Update Model", :class => "btn btn-md btn-warning", :id => "btnSubmit" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>    

    <div class="col-sm-6">
      <div id="load_variant">
        <%= form_tag @car_varient, :url => update_varient_admin_stocks_path, :method => "GET" , :remote => true do %>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <b>Update Vehicle Varient</b>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <b>Manufacturer</b>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <%= select_tag :manufacturer_id, options_for_select([["- Select -", ""]] + @manufacturers.map {|m| [m.name, m.id]}), :class => "form-control", :id => "manufacturer_id", data: { child_id: 'load_varients'} %>
              </div>
            </div>
          </div>

          <div id="load_varients">
            <%= render :partial => "admin/stocks/load_carmodels_edit" %>
          </div>

          <div id="varient_list">
            <%= render :partial => "admin/stocks/varient_list"  %>
          </div>    
        
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <b>Enter Varient</b>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <%= text_field_tag :varient_name, nil, :class => "form-control varient_name1" %>
            </div>
          </div>
        </div>


          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">

              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <span class="text-muted">Ex: A-Star</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= submit_tag "Update Varient", :class => "btn btn-md btn-warning", :id => "btnSubmit2" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
</div>

<script>
  $(document).on("change", "#manufacturer_id", function() {
    var dataid = $(this).data('child-id');
    var manufacturer_id = this.value;
    if (manufacturer_id == '') {
      $(".model_name1").val("");
      return false;
    }
    $.ajax({
      url: "/admin/stocks/car_model",
      dataType: "Script",
      type: "GET",
      data: {
        manufacturer_id: manufacturer_id,
        child_id: dataid
      }
    });
  });

  $(document).on("change", "#varient_car_model_id", function() {
    var model_id = $("#varient_car_model_id").val();
    var model_name = $("#varient_car_model_id option:selected").text();
    if (model_id == '') {
      $(".modal_name1").val('');
    } else {
      $(".modal_name1").val(model_name);
    }
  });

  $(document).on("click", "#btnSubmit", function() {
    var model_id = $("#varient_car_model_id").val();
    var model_name = $(".modal_name1").val();

    $.ajax({
      url: "/admin/stocks/update_model",
      dataType: "Script",
      type: "PUT",
      data: {
        model_id: model_id,
        model_name: model_name
      }
    });
  });
  
  $(document).on("change", "#varient_car_model_id1", function() {
    var model_id = $(this).val();
    $.ajax({
      url: "/admin/stocks/list_varient",
      dataType: "Script",
      type: "GET",
      data: {
        model_id: model_id
      }
    });
  });
  
  $(document).on("change", "#varient_car_varient_id1", function(){
    var varient_id = $(this).val();
    var varient_name = $("#varient_car_varient_id1 option:selected").text();
    
    if (varient_id == '') {
      $(".varient_name1").val('');
    } else {
      $(".varient_name1").val(varient_name);
    }   
  });
    
  $(document).on("click", "#btnSubmit2", function(){
    var varient_id = $("#varient_car_varient_id1").val();
    
    var varient_name = $(".varient_name1").val();
    $.ajax({
      url: "/admin/stocks/update_varient",
      dataType: "Script",
      type: "PUT",
      data: {
        varient_id: varient_id,
        varient_name: varient_name
      }
    });
  });
</script> 