<%= render :partial => "admin/shared/stocks_navbar" %>

<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <tr>
      <th>S.No.</th>
      <th>Id</th>
      <th>Cars</th>
      <th>Price</th>
      <th>KMs Done</th>
      <th>Reg. Yr.</th>
      <th>Location</th>
      <th></th>
    </tr>

    <%@cars.each_with_index do |car, i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= car.id %></td>
        <td>
          <%= car.carinfo %> <br/>
        </td>
        <td>
                 <%= number_to_currency((car.sell_price), :unit => "Rs.") %> <br/>
        </td>
        <td>
          <%= car.milage %> <br/>
        </td>
        <td>
          <%= car.reg_year %> <br/>
        </td>
        <td>
          <%= car.location.capitalize %> <br/>
        </td>

        <td> 
          <%= link_to "UnSold", unsold_admin_stock_path(:id => car.id), :method => "PUT", remote: true, :class => "btn btn-warning btn-sm" %>
      
      <%= link_to "Destroy", admin_vehicle_path(car.id), :method => :delete, :data => {:confirm => "Are you sure to delete ?"}, :remote => true, :class => "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate @cars %>
  
