<%= form_tag call_me_homes_path, :method => "get" do %>
  <%= hidden_field_tag :id, params[:id] %>
  <div class="form-group">
    <%= text_field_tag :name, nil, :placeholder => "Name", :required  => true %>
  </div>

  <div class="form-group">
    <%= text_field_tag :email, nil, :placeholder => "Email", :required  => true %>
  </div>

  <div class="form-group">
    <%= text_field_tag :phone, nil, :placeholder => "Phone", :required  => true %>
  </div>

  <div class="form-group">
    <%= text_area_tag :description, nil, :placeholder => " I'm a TrueCar customer and I would like to learn more about this vehicle. Could you please send in all the information you have on this?", :required  => true %>
  </div>

  <div class="form-group">
    <button type="submit" value="Submit"  class="btn btn-warning" style="width:100%">Submit Now</button>
  </div>
<% end %>