<p>
<center>
  <h5>
    <b>USED CARS SEARCH</b>
  </h5>           
  <table  cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" class="table-cars-search">
    <%= form_tag(@search, :url => "/homes/buy_car?loc=#{params[:loc]}", :method => "GET") do %>
      <%= hidden_field_tag :loc, nil, :value => params[:loc]  %>
      <%= hidden_field_tag :car_model_id %>
      <tr>
        <td style="height:10px;" > </td> 
      </tr>
      <tr>
        <td class="borderforleft"> 
          <%= select_tag :manufacturer, options_for_select([["- Select -", ""]] + @manufacturers.map {|x| [x.name, x.id]}), :id => "select_manuf", data: {:loc => "#{params[:loc]}"}, :style => "width:200px;", :class => "selectstyle" %>
        </td>
      </tr>
      <tr>
        <td class="borderforleft"  id="load_carmodels"> 
          <%= render :partial => "load_models" %>
        </td>
      </tr> 
      <tr>
        <td class="borderforleft"> 
          <%= select_tag :price, options_for_select([["- Price Range -", ""], ["Up to 1 lakh", "0-100000"], ["1-3 lakhs", "100000-300000"],["3-5 lakhs", "300000-500000"],["5-8 lakhs", "500000-800000"],["8-13 lakhs", "800000-1300000"],["13-20 lakhs", "1300000-2000000"], ["20 lakhs or above", "2000000"] ]), :style => "width:200px;", :class => "selectstyle" %>
        </td>
      </tr>
      <tr>
        <td class="borderforleft"> 
          <%= select_tag :mileage, options_for_select([["- Mileage -", ""], ["upto 5,000 KM", "5000"], ["upto 10,000 KM", "10000"],["upto 15,000 KM", "15000"],["upto 20,000 KM", "20000"],["upto 25,000 KM", "25000"],["upto 30,000 KM", "30000"], ["upto 35,000 KM", "35000"], ["upto 40,000 KM", "40000"], ["upto 45,000 KM", "45000"], ["upto 50,000 KM", "50000"], ["upto 55,000 KM", "55000"], ["upto 60,000 KM", "60000"], ["upto 65,000 KM", "65000"], ["upto 70,000 KM", "70000"], ["upto 75,000 KM", "75000"], ["upto 80,000 KM", "80000"], ["upto 85,000 KM", "85000"], ["upto 90,000 KM", "90000"], ["upto 95,000 KM", "95000"], ["upto 1,00,000 KM", "100000"], ["upto 1,50,000 KM", "150000"]]), :style => "width:200px;", :class => "selectstyle" %>
        </td>
      </tr>
      <tr>
        <td class="borderforleft"> 
          <%= select_tag :registration_year, options_for_select([["- Registration Year -", ""]] + YEAR.map {|x| [x, x]}), :style => "width:200px;", :class => "selectstyle" %>
        </td>
      </tr>
      <tr><td style="height:5px;" class="borderforleft"> </td> </tr>
      <tr>
        <td class="borderforleft" style="text-align:center">
          <%= submit_tag "Search" %>
        </td>
      </tr>
    <% end %>
  </table>       
</center>
</p>

<a href="" id="loginLink" style="font-weight:bold; width:200px; text-align:center; text-shadow:1px 1px 1px 1px #ccc; margin-top:20px;" class="btn btn-danger">Post Your Requirements</a>