<% @page_title = "Delhi - Go4 Used Cars" %>

<div id="sliderFrame">
<div id="myCarousel" class="carousel slide clearfix" data-ride="carousel">  
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>    
            <li data-target="#myCarousel" data-slide-to="7"></li>         
            <li data-target="#myCarousel" data-slide-to="8"></li>         
            <li data-target="#myCarousel" data-slide-to="9"></li>         
                
    </ol>     
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/IMG_0286.JPG"  />          
      </div>      
      <!-- <div class="item">                
        <img src="/assets/slider-img.JPG"  />          
      </div> -->
      <!-- <div class="item">
        <img src="/assets/slider-img2.JPG"   />
      </div>    -->   
      <!-- <div class="item">
        <img src="/assets/slider-img3.JPG"   />          
      </div> -->      
     <!--  <div class="item">
        <img src="/assets/slider-img4.JPG"   />        
      </div>  -->   
      <div class="item">
        <img src="/assets/IMG_0291.JPG"   />       
      </div>      
      
      <div class="item">        
        <img src="/assets/photo1.JPG"  />
      </div>
      <div class="item">       
        <img src="/assets/photo2.JPG"  />
      </div>
     <!--  <div class="item">       
        <img src="/assets/photo3.JPG"  />
      </div> -->
      <!--  <div class="item">       
        <img src="/assets/photo4.JPG"  />
      </div> -->
                  
    </div>
  </div>
  
  
<!--<div id="slider">


  
  

             

          <img src="/assets/IMG_0286.JPG"  />

            <img src="/assets/IMG_0287.JPG"   />

            <img src="/assets/IMG_0289.JPG"   />

            <img src="/assets/IMG_0290.JPG"    />

             <img src="/assets/IMG_0291.JPG"     />

               <img  src="/assets/IMG_0292.JPG"    />

                 <img src="/assets/IMG_0293.JPG"    />
                  

        </div>-->
</div>



<div>

<center><div id="textslide">

   

 <!--<p class=" btn-success" >NEVER OVERPAY</p>-->

</div>

 <p class="btn-success1" style="cursor:pointer;"><a href="/homes/buy_car?loc=gurgaon">Select a Vehicle</a></p>

 </center>

 </div>

  

 <div class="container-fluid carousel-center container-fluid1">

 

 <h2 style="margin-top:-60px;"> SEARCH BY CAR TYPE</h2>

 <center >

 <div id="lista1" class="als-container">

        <span class="als-prev"><img src="/assets/thin_left_arrow_333.png" alt="prev" title="previous" /></span>

        <div class="als-viewport" >

          <ul class="als-wrapper">
            <li class="als-item">
              <%= link_to buy_car_homes_path(loc: "gurgaon", bds: "convertible") do%>
                <img  src="/assets/convertible.png" alt="Convertible" title="Convertible" />
              <% end %>Convertible
            </li>

            <li class="als-item">
              <%= link_to buy_car_homes_path(loc: "gurgaon", bds: "hatchback") do%>
                <img src="/assets/hatchback.png" alt="Hatchback" title="Hatchback" />
              <% end %>Hatchback
            </li>

            <li class="als-item">
              <%= link_to buy_car_homes_path(loc: "gurgaon", bds: "MUV_VAN") do%>
                <img src="/assets/MUV_VAN.png" alt="MUV_VAN" title="MUV_VAN" />
              <% end %>MUV_VAN</li>

            <li class="als-item">
              <%= link_to buy_car_homes_path(loc: "gurgaon", bds: "seden") do%>
                <img  src="/assets/sedan.png" alt="Sedan" title="Sedan" />
              <% end %>Sedan
            </li>

            <li class="als-item">
              <%= link_to buy_car_homes_path(loc: "gurgaon", bds: "SUV") do%>
                <img  src="/assets/SUV.png" alt="SUV" title="SUV" />
              <% end %>SUV
            </li>            
          </ul>

        </div>

        <span class="als-next"><img src="/assets/thin_right_arrow_333.png" alt="next" title="next" /></span>

      </div></center> 

</div>  

<hr />

<div class="container-fluid carousel-center carousel-cricle">



<center>
<a href="/homes/sell_car?loc=gurgaon">
<img src="/assets/circle1.jpg" class="img-circle img-height-width " height="210" width="210"  draggable="false"></a>

<a href="/homes/auto_finance?loc=gurgaon"><img  src="/assets/circle2.png" height="210" width="210" class="img-circle img-height-width  " draggable="false"></a>

<%= link_to '<img src="/assets/circle3.jpg" height="210" width="210" class="img-circle img-height-width" draggable=" false">'.html_safe, "", "data-toggle" => "modal", "data-target" => "#myModalPostRequirement" %>

</center></div>

<div class="row  home-text">

<div class="col-md-6 col-md-offset-3 text-justify text-center">

  <h3 class="about-go" style="text-align: left">ABOUT GO 4 USED CARS </h3><P class="paragraph">

PRESTIGE AUTOWORLD IS THE ONE OF THE LEAD ING AUTHORISED CERTIFIED PRE-OWNED CAR RETAILER OF MAHINDRA FIRST CHOICE IN NCR.</P>

<P class="paragraph">MAHINDRA FIRST CHOICE WHEEL LTD IS INDIAS LARGEST MULTI-BRAND PRE-OWNED CAR COMPANY WHICH BELEIVES IN SELLING HIGH QUALITY PRE-OWNED CARS TO ITS CUSTOMERS WITH HASSLE FREE DOCUMENTATION & CAR TRANSFERS</P></div>
<div class="col-md-6 col-md-offset-3 text-justify text-center">


<h3 class="about-go" style="text-align: left">EMI Calculator </h3>
<div class="demo" style="width:100%; ">
<p>
    <label for="amount"><span style="font-size:16px; color:#333333;">Loan Amount ?</span></label>
    <span style="font-size:13px; color:#333333;">Rs. &nbsp;<input type="text"  id="amount" size="15" /></span>
</p>
<div id="slider1"></div>
<br />
<p>
    <label for="per"><span style="font-size:16px; color:#333333;">Interest Rate ?</span></label>
    <span style="font-size:13px; color:#333333;"><input type="text" id="per" size="5" />&nbsp;% p.a</span>
</p>
<div id="slider-per1"></div>
<br />
<p>
    <label for="tenure"><span style="font-size:16px; color:#333333;">Tenure ?</span></label>
    <span style="font-size:13px; color:#333333;"><input type="text" id="tenure" size="5" />&nbsp; years</span>
</p>
<div id="slider-ten1"></div>
<br />
<p style="display: none; visibility: hidden;">
    <label for="fee"><span style="font-size:16px; color:#333333;">Processing Fee ?</span></label>
    <span style="font-size:13px; color:#333333;"><input type="text" size="5" id="fee" />&nbsp;% of loan amount</span>
</p>
<div id="slider-fee1" style="display: none; visibility: hidden;"></div>

<p style="margin-bottom: 25px;">
   <label for="per" style="color:#333333; font-size:22px;"><strong>Your EMI Rs</strong> &nbsp;</label>
    <span  style="color:#FFFFFF; font-size:14px;"><input type="text" size="10" id="total"  /></span>
</p>
</div> 
</div>
</div>