<% @page_title = "Cardetails - Go4 Used Cars" %>

<h1 ><span class="about-us">Car Details</span></h1>
<div class="border-row"></div>

<div class="form-group"></div>

<div class="row">
  <div class="form-group">
    <div class="col-xs-6 width-inmobile">
      <%= image_tag(@car.image,:style =>"width:300px;height:300px;") %>
    </div>

    <div class="col-xs-6 width-inmobile">
      <div>
        <h2><%=@car.try(:carinfo) %></h2>
        <div class="row-fluid">

          <div class="row-fluid">
            <div class="span4">Car Type:</div>
            <div class="span4"><%=@car.try(:body_style) %></div>
          </div>

          <div class="row-fluid">
            <div class="span4">Fuel Type:</div>
            <div class="span4"><%= @car.try(:fuel_type) %></div>
          </div>

          <div class="row-fluid">
            <div class="span4">Engine Type :</div>
            <div class="span4"><%= @car.try(:engine_type) %></div>
          </div>

          <div class="row-fluid">
            <div class="span4">KMs Done:</div>
            <div class="span4"><%=@car.try(:milage) %></div>
          </div>

          <div class="row-fluid">
            <div class="span4"> Price:</div>
            <div class="span4"> <%= number_to_currency(@car.try(:sell_price), :unit => "Rs.") %></div>
          </div>


          <div class="row-fluid">
            <div class="span4">Exterior Color:</div>
            <div class="span4"><%= @car.try(:exterior_color) %></div>
          </div>

        </div>

      </div>

        
      <%= link_to "Call me, i am Interested", "", "data-toggle" => "modal", "data-target" => "#myModalPostRequirement", :style => "font-weight:bold; width:300px; text-align:center; text-shadow:1px 1px 1px 1px #ccc; margin-top:20px;", :class => "btn btn-danger" %>
      <br/><br/>

      <p><b>Watch Video</b></p>
      <% @videos.each do |v| %>
        <div class="row">
          <%= link_to(v.video_url, v.video_url, :target => '_blank') %>
        </div>
      <% end %>


    </div>
  </div>
</div>
<br/><br/>

<% if @images.present? %>
  <ul class="bxslider">
    <% @images.each do |image| %>
      <li><%= image_tag(image.image.url(:original))  %></li>
    <% end %>
  </ul> 
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModalPostRequirement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div id="final_deal">
          <%= render :partial => "call_me" %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('.bxslider').bxSlider({
      auto: true,
      slideWidth: 200,
      infiniteLoop: true,
      speed: 10000,
      pager: false,
      autoHover: true,
      minSlides: 1,
      maxSlides: 5,
      slideMargin: 30,
      adaptiveHeight: false
    });
  });
</script>


<style>
  .modal-header {
    border-bottom: none;
  }
</style>