<div id="car-details">
    <div id="car-info">
        <div>Car Info</div>
        <div><%= @car.try(:carinfo) %></div>
    </div>
    <br />
    <div id="car-color">
        <div>Color</div>
        <div><%= @car.try(:exterior_color) %></div>
    </div>
    <br />
    <div id="car-location">
        <div>Location</div>
        <div><%= @car.try(:location) %></div>
    </div>
    <br />
    <div id="car-milage">
        <div>Milage</div>
        <div><%= @car.try(:milage) %></div>
    </div>
    <br />
    <div id="car-fuel">
        <div>Fuel Type</div>
        <div><%= @car.try(:fuel_type) %></div>
    </div>
</div>
<style>
    @media print {
        .freez-header{display: none;}
    }
</style>