<% @page_title = "Testimonial - Go4 Used Cars" %>

<h1 style="margin-left:300px;"><span class="about-us">Testimonial</span></h1>
<div class="border-row"></div>

<% if @approved_admins.present? %>
  <% @approved_admins.each do |approve| %>
  <div class="row">
    <div class="col-xs-7" style="padding-left:50px;margin-top:25px;">              
      <img src="<%= approve.customer_image.url(:thumb) %>" class="img-responsive" />
    </div>
    <div class="col-xs-5" style="padding-left:25px;margin-top:25px;">
      <a href="<%= approve.feedback_image.url(:thumb) %>" target="_blank"><img src="<%= approve.feedback_image.url(:thumb) %>" class="img-responsive" /></a>
    </div>
  </div>
  <% end %>
<% end %>

<div class="form-group"></div>
<% if @approved_users.present? %>
<div class="row">
  <div class="col-xs-12 down-space">
    <ul class="bxslider">
  <% @approved_users.each do |approve| %>
    <li>
      <div class="slide-box">
        <b>Name: <%= approve.try(:name) %></b>
        
        <br/>
        <%= approve.try(:testimonial) %>
      </div>
    </li>
  <% end %>  
</ul>
  </div>
</div>
<% end %>


<div class="row">
<h1 class="font-size-sellcar text-submit" style=" background-color:#fc6; text-indent:30px; ">Submit your testimonial</h1>
<div class="col-md-4 box-submit-detail">
  
  <%= form_for @testimonial, :url => "/testimonials?loc=#{params[:loc]}", :method => "POST" do |f| %>
    <%= f.hidden_field :display, :value => "User_create" %>

    <div class="inner-addon left-addon">
    <i class="fa fa-user"></i>
    <%= f.text_field :name, :class => "form-control", :placeholder => "Name", :id => "txtname", :required => true  %>
   </div>
  <br/>
  <div class="inner-addon left-addon">
    <i class="fa fa-envelope "></i>	
    <%= f.email_field :email, :class => "form-control", :placeholder => "Email", :id => "txtemail", :required => true  %>
    <br/>
  </div>
  
  <div class="inner-addon left-addon">
    <i class="fa fa-pencil " ></i>	
    <%= f.text_area :testimonial, :id => "testimonial", :class => "form-control", :placeholder => "Testimonials", :rows => "5", :cols => "45", :required => true %>
    <br />
    
    <p class="alright">		  
      <button type="submit" value="Submit"  id="submittest" name="submittest" class="btn btn-primary btn-lg ">Submit</button></p><br />
</div>
  <% end %>
</div>
</div>



<style>
  .slide-box {
    border: 1px solid #CCC;
    padding: 5px 5px 5px 5px;
    background-color: #F0F0F0;
  }

  .down-space {
    margin-bottom: 30px; 
    margin-top: 30px;
  }
</style>


    <script type="text/javascript" charset="utf-8">
      $(function() {
        $('.bxslider').bxSlider({
          auto: true,  
          slideWidth: 200,
          infiniteLoop: true,
          speed: 10000,
          pager: false,
          autoHover: true,
          minSlides: 1,
          maxSlides: 5,
          slideMargin: 30,
          adaptiveHeight: false
        });
      });        
    </script>