<%= render :partial => "admin/shared/stocks_navbar" %>

 <div class="row">
   <div class="col-sm-12">
     <div class="form-group">
       <%= link_to 'Export Excel', enquiry_admin_sell_procedures_path(:format => :xlsx), :class => "btn btn-sm btn-warning" %>
     </div>
   </div>
 </div>


<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Requirement</th>
      <th>Date</th>
      <th>Action</th>
      <th></th>
    </tr>

    <%@enquiries.each do |s|%>
      <tr>
        <td>
          <%= s.id %>
        </td>
        <td>
          <%= s.name %>
        </td>
        <td>
          <%= s.email %>
        </td>
        <td>
          <%= s.phone %>
        </td>
        <td>
          <b>Model:</b> <%= s.model %> <br/>
          <b>Make: </b> <%= s.make %> <br/>
          <b>Body Type: </b> <%= s.body_type%> <br/>
          <b>Fuel Type: </b> <%= s.fuel_type%> <br/>
          <b>Min Budget: </b> <%= s.min_budget%> <br/>
          <b>Max Budget: </b> <%= s.max_budget%> <br/>
          <b>Min Year: </b> <%= s.min_year%> <br/>
          <b>Max Year: </b> <%= s.max_year%> <br/>
        </td>
        <td>
          <%= s.created_at %>
        </td>
        <td>
          <%= link_to "Delete", admin_sell_procedure_path(s.id), :method => :delete, data: {:confirm => "Are you sure?"}, :class => "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<%= paginate @enquiries %>