<p>Hi Admin,</p>

Dealer Name: <%= @associate.dealer_name %>
Dealer Type: <%= @associate.dealer_type %>
Name: <%= @associate.name %>
Email: <%= @associate.email %>
Phone: <%= @associate.phone %>
Address: <%= @associate.address %>

<p>Thanks</p>