<p>Hi Admin,</p>
<p>
  Dealer Name: <%= @associate.dealer_name %>
</p>
<br/>
<p>
  Dealer Type: <%= @associate.dealer_type %>
</p>
<br/>
<p>
 Name: <%= @associate.name %> 
</p>
<br/>
<p>
  Email: <%= @associate.email %>
</p>
<br/>
<p>
  Phone: <%= @associate.phone %>
</p>
<br/>
<p>
  Address: <%= @associate.address %>
</p>
<br/>
<br/>

<p>Thanks</p>