<p>Hi Admin,</p>

<p>
  Somebody wants to get more information on below car detail.
</p>

<table>
  <tr>
    <th>Car Info</th>
    <th>Body Style</th>
    <th>Fuel Type</th>
    <th>Engine Type</th>
    <th>Mileage</th>
  </tr>
  
  <tr>
    <td><%=@car.try(:carinfo) %><td>
    <td><%=@car.try(:body_style) %><td>
    <td><%= @car.try(:fuel_type) %><td>
    <td><%= @car.try(:engine_type) %><td>
    <td><%=@car.try(:milage) %><td>
  </tr>
</table>

<br/>
<h5>
  Customer Info
</h5>
<br/>

<p>
 Name: <%= @name %> 
</p>
<br/>
<p>
  Email: <%= @email %>
</p>
<br/>
<p>
  Phone: <%= @phone %>
</p>
<br/>
<p>
  Description: <%= @description %>
</p>
<br/>
<br/>

<p>Thanks</p>
<p>Team Go4UsedCar</p>