<h2>Thanks for you interest in following Car.</h2>
<hr />
<table>
    <tr>
        <td><b>Car Info:</b></td>
        <td><%= @car.try(:carinfo) %></td>
    </tr>
    <tr>
        <td><b>Car Color:</b></td>
        <td><%= @car.try(:exterior_color) %></td>
    </tr>
    <tr>
        <td><b>Location:</b></td>
        <td><%= @car.try(:location) %></td>
    </tr>
    <tr>
        <td><b>KMs Done:</b></td>
        <td><%= @car.try(:milage) %></td>
    </tr>
    <tr>
        <td><b>Fuel Type:</b></td>
        <td><%= @car.try(:fuel_type) %></td>
    </tr>
    <tr>
        <td><b>Body Type:</b></td>
        <td><%= @car.try(:body_type) %></td>
    </tr>
    <tr>
        <td><b>Price:</b></td>
        <td><%= @car.try(:sell_price) %></td>
    </tr>
    <tr>
      <td><b>Image:</b></td>
      <td><%= image_tag(@car.image.url(:original), :width => 150, :height => 100) %></td>
    </tr>
</table>

<br/>
<p>Thanks</p>
<p>Team Go4UsedCar</p>