<h1>Hi Admin.</h1>
<p>User with email: <%= @mail %> has posted new requirements.</p>
<p>Below are the requirements: </p>
<b>Min Budget:</b> <%= @min_budget if @min_budget.present? %> <br/>

<b>Max Budget:</b> <%= @max_budget if @max_budget.present? %> <br/>

<b>Car Min Year:</b> <%= @min_year if @min_year.present? %> <br/>

<b>Car Max Year:</b> <%= @max_year if @max_year.present? %> <br/>

<b>Make:</b> <%= @make if @make.present? %> <br/>

<b>Model:</b> <%= @model if @model.present? %> <br/>

<b>Body Type:</b> <%= @body_type if @body_type.present? %> <br/>

<b>Fuel Type:</b> <%= @fuel_type if @fuel_type.present? %> <br/>

<b>Name:</b> <%= @name if @name.present? %> <br/>

<b>Email:</b> <%= @mail if @mail.present? %> <br/>

<b>Phone:</b> <%= @phone if @phone.present? %> <br/>

<p>Thanks</p>
<p>Team Go4UsedCar</p>