<h1>Hi Admin.</h1>
<p>User with email: <%= @mail %> has posted new requirements.</p>
<p>Below are the requirements: </p>
Min Budget: <%= @min_budget if @min_budget.present? %> <br/>
Max Budget: <%= @max_budget if @max_budget.present? %> <br/>
Car Min Year: <%= @car_year if @car_year.present? %> <br/>
Car Max Year: <%= @car_year1 if @car_year1.present? %> <br/>
Make: <%= @make if @make.present? %> <br/>
Model: <%= @model if @model.present? %> <br/>
Body Type: <%= @body_type1 if @body_type1.present? %> <br/>
<%= @body_type2 if @body_type2.present? %> <br/>
<%= @body_type3 if @body_type3.present? %> <br/>
<%= @body_type4 if @body_type4.present? %> <br/>
<%= @body_type5 if @body_type5.present? %> <br/>
<%= @body_type6 if @body_type6.present? %> <br/>
<%= @body_type7 if @body_type7.present? %> <br/>
<%= @body_type8 if @body_type8.present? %> <br/>
<%= @body_type9 if @body_type9.present? %> <br/>
Fuel Type: <%= @fuel_type1 if @fuel_type1.present? %> <br/>
<%= @fuel_type2 if @fuel_type2.present? %> <br/>
<%= @fuel_type3 if @fuel_type3.present? %> <br/>
<%= @fuel_type4 if @fuel_type4.present? %> <br/>
Name: <%= @name if @name.present? %> <br/>
Email: <%= @mail if @mail.present? %> <br/>
Phone: <%= @phone if @phone.present? %> <br/>

<p>Thanks</p>