<td>
  <%= s.id %>
</td>
<td>
  <b>Car:</b> <%= s.model_varient %> <br/>
  <b>Make Yr: </b> <%= s.manufacture_year.strftime("%Y-%m-%d") if s.manufacture_year.present? %> <br/>
  <b>Owner: </b> <%= s.owner_type%> <br/>
  <b>Color: </b> <%= s.color%>
</td>

<td>
  <b>Km.Done:</b> <%= s.kms_done %>  <br/>
  <b>Exptd. Price:</b> <%= s.expected_price %>
</td>

<td>
  <b>City:</b> <%= s.city %>  <br/>
  <b>Reg.No:</b> <%= s.registration_no %>  <br/>
</td>

<td>
  <b>Tax:</b>  <br/>
  <b>Insur:</b> <%= s.car_insurence %>  <br/>
  <b>Insurance Till:</b> <%= s.insurence_valid_till.strftime("%Y-%m-%d") %>
</td>

<td>
  <i class="glyphicon glyphicon-comment text-warning"></i>
  <%= s.comments %>
</td>

<td>
  <b>Name:</b> <%= s.seller_name%> <br/>
  <b>Email:</b> <%= s.seller_email %>  <br/>
  <b>Phone:</b> <%= s.seller_phone %>  <br/>
  <b>Posted:</b> <%= s.created_at.strftime("%Y-%m-%d") %>
</td>