<%= form_for @evaluation, url: "/admin/purchase_procedures/update_deal?sell_car_id=#{params[:sell_car_id]}", :method => "PUT", html: {:multipart => true}, :remote => true do |f| %>
  <%= f.hidden_field :sell_car_id, :value => params[:sell_car_id] %>
 <% if @evaluation.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @evaluation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <%= f.hidden_field :amount_field_validate, :value => "deal_amount" %>
  <div class="panel-body">
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          Expected Price: 
          <%= f.text_field :expected_price, :class => "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          Evaluated Price
          <%= f.text_field :evaluated_price, :class => "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          Deal Price
          <%= f.text_field :deal_price1, :class => "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          Upload Image of Evaluation Form
          <%= f.file_field :evaluation_image %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-12">
          <%= f.submit "Assign to Evaluate", :class => "btn btn-warning btn-md" %>
        </div>
      </div>
    </div>
  </div>
<% end %>