<%= render :partial => "admin/shared/stocks_navbar" %>
<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <tr>
      <th>ID</th>
      <th>Car_Detail</th>
      <th>Kms & Exp.Price</th>
      <th>Reg. Details</th>
      <th>Insurance & Tax</th>
      <th>Comments</th>
      <th>User Detail</th>
      <th>Evaluator</th>
      <th>Evaluation_Detail</th>
      <th></th>
    </tr>

    <%@sell_cars.each do |s|%>
      <tr>
        <%= render :partial => "common_table_data", locals: {s: s} %>
        <%= render :partial => "evaluator_info", locals: {s: s} %> 

        <td>
          <b>Expected:</b> <%= s.car_evaluation.expected_price %> <br/>
          <b>Evaluated: </b> <%= s.car_evaluation.evaluated_price %> <br/>
          <b>Deal Price: </b> <%= s.car_evaluation.deal_price2 %> <br/>
          <b>Date: </b> <%= s.car_evaluation.updated_at.strftime("%Y-%m-%d") %>
        </td>

        <td> 
          <%= link_to "Publish Live", publish_vehicle_admin_purchase_procedures_path(:sell_car_id => s.id), :class => "btn btn-warning btn-sm" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate @sell_cars %>