<%= render :partial => "admin/shared/stocks_navbar" %>

<div class="panel-body">
  <div class="row">
    <div class="col-sm-6">
      <%= nested_form_for @vehicle, :url => "/admin/images", :method => "POST", :html => {:multipart => true} do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <b>Add Images of Cars</b>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <b>Vehicle</b>
            </div>

            <div class="col-sm-6">
                <%= select_tag :vehicle_id, options_for_select([["- Select -", ""]] + @vehicles.all.map {|x| [x.carinfo, x.id]}), :class => "form-control", :id => "select_vehicle1" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <!--Implement here nested form for images-->
              <%= f.fields_for :images do |task_form| %>
              <%= task_form.file_field :image %>
              <%= task_form.link_to_remove "Remove this task" %>
              <% end %>
              <p><%= f.link_to_add "Add a task", :images %></p>



            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
             <%= f.submit :class => "btn btn-md btn-warning", :id => "submit1" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-6">
      <%= form_for @video, :url => create_video_admin_images_path, :method => "POST" do |f| %>
         <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <b>Add Video of Cars</b>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :vehicle_id, "Vehicle" %>
            </div>

            <div class="col-sm-6">
              <%= f.select :vehicle_id, options_for_select([["- Select -", ""]] + @vehicles.all.map {|x| [x.carinfo, x.id]}), {}, :class => "form-control",:id => "select_vehicle2" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-2">
              <%= f.label :video_url, "Video Url" %>
            </div>

            <div class="col-sm-6">
              <%= f.text_field :video_url, :class => "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
             <b class="text-muted"> Ex. http://www.youtube.com/embed/X3HlFewKByw</b>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
             <%= f.submit :class => "btn btn-md btn-warning", :id => "submit2" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on("click", "#submit1", function(){
    var vehicle = $("#select_vehicle1").val();
    if (vehicle == '') {
      alert("Please select vehicle first")
      return false;
    }
  });

  $(document).on("click", "#submit2", function(){
    var vehicle = $("#select_vehicle2").val();
    if (vehicle == '') {
      alert("Please select vehicle first")
      return false;
    }
  });
</script>