<div class="table-responsive">
  <table class="table table-stripped table-hover">
    <tr>
      <th>Car ID</th>
      <th>Car_Detail</th>
      <th>Kms & Exp.Price</th>
      <th>Reg. Details</th>
      <th>Dealer Information</th>
      <th>Action</th>
    </tr>

    <%@vehicles.each do |s|%>
      <tr>
        <td>
          <%= s.id %>
        </td>
        <td>
          <b>Car:</b> <%= s.try(:carinfo) %> <br/>
          <b>Make Yr: </b> <%= s.try(:manufactured_year) %> <br/>
          <b>Color: </b> <%= s.try(:exterior_color).capitalize%>
        </td>

        <td>
          <b>Km.Done:</b> <%= s.try(:milage) %>  <br/>
          <b>Exptd. Price:</b> <%= number_to_currency(s.try(:sell_price), :unit => "Rs.") %>
        </td>

        <td>
          <b>City:</b> <%= s.try(:location).capitalize %>  <br/>
          <b>Reg. No:</b> <%= s.try(:registration_no) %>  <br/>
          <b>Reg. at:</b> <%= s.try(:registration_state).capitalize %>
        </td>

        <td>
          <% @partner = AssociatePartner.user_partner(s.try(:user).try(:email)) %>
          <b>Email:</b> <%= @partner.email %> <br/>
          <b>Name:</b> <%= @partner.name.titleize %> <br/>
          <b>Phone:</b> <%= @partner.phone %> <br/>
          <b>Address:</b> <%= @partner.address.capitalize %> <br/>
          <b>Type:</b> <%= @partner.dealer_type.capitalize %> <br/>
          <b>Dealer Name:</b> <%= @partner.dealer_name.capitalize %>
        </td>

        <td>
          <%= link_to "Move To Stock", move_to_stock_admin_dashboard_path(s.id), :method => "PUT", :class => "btn btn-sm btn-warning"  %>
        </td>
      </tr>
    <% end %>
  </table>
  
    <%= paginate @vehicles %>