<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Dashboard", admin_dashboards_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Stock Management <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><%= link_to "Add Model & Varient", addtostock_admin_stocks_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Add Master Specification", add_master_specification_admin_stocks_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Add Car Details", new_admin_vehicle_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Add Car Specification",  new_admin_car_specification_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Add Car Images & Video", new_admin_image_path %></li>
            <li class="divider"></li>
            <li><%= link_to "View Live Cars", live_cars_admin_stocks_path %></li>
            <li class="divider"></li>
            <li><%= link_to "View Sold Cars", sold_cars_admin_stocks_path %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Update Stock <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><%= link_to "Model & Varient", edit_stock_admin_stocks_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Car Details", edit_vehicle_admin_vehicles_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Car Specification", edit_car_specification_admin_car_specifications_path %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Offer <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><%= link_to "Add / Remove", offer_admin_stocks_path %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Procure Dept. <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><%= link_to "Enquiry", procure_enquiry_admin_purchase_procedures_path %> </li>
            <li class="divider"></li>
            <li><%= link_to "Waiting for Evaluation", waiting_to_evaluate_admin_purchase_procedures_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Evaluated", evaluated_admin_purchase_procedures_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Accept in Stock", purchased_car_admin_purchase_procedures_path %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sell <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><%= link_to "Enquiry" %></li>
            <li class="divider"></li>
            <li><%= link_to "Car Specific Enquiry" %></li>
            <li class="divider"></li>
          </ul>
        </li>
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        <li> <%=link_to("Log Out", destroy_admin_session_path, :method => :delete)%></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>