<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title><%= @page_title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
                <!-- ISSUE THERE IN STYLE.CSS FOR BXSLIDER -->
                <link rel="stylesheet" href="/assets/css/style.css" />

                <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />

                <link rel="stylesheet" href="/assets/css/bootstrap-theme.css" />

                <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

                <link rel="stylesheet" href="/assets/css/bootstrap-responsive.css">
                <link rel="stylesheet" href="/assets/css/jquery-ui1.11.2.css">
                 <link rel="stylesheet" href="/assets/jquery.bxslider.css">

                <link rel="shortcut icon" type="image/x-icon" href="/assets/logo.png">


                <script type="text/javascript" src="/assets/js/jquery.min.js"></script>

                <script type="text/javascript" language="javascript" src="/assets/js/bootstrap.min.js"></script>

                <script type="text/javascript" src="/assets/js/slider.js"></script>

                <script type="text/javascript" src="/assets/js/jquery-ui1.11.2.min.js"></script>    

                <script type="text/javascript" src="/assets/js/jquery.als-1.7.min.js"></script>   

                <script type="text/javascript" src="/assets/jquery.bxslider.js"></script>
                <script type="text/javascript" src="/assets/jquery.mask.min.js"></script>

                <%= render :partial => "layouts/header_script" %>
                <%= render :partial => "layouts/header_styles" %>
                <%= csrf_meta_tags %>
    </head>

    <body>
        <div class="freez-header navbar-fixed-top"  >
            <%= render :partial => "layouts/header_banner" %>
            <%= render :partial => "layouts/headernav" %>
        </div>
      
      <div class="container2">
        <%= render :partial => "/layouts/notice" %>
        <%= yield %>
      </div>

        <%= render :partial => "layouts/footer" %>
    </body>
</html>
<style>
  .container2 { 
      margin-top: 17%;
  }
  
  .freez-header{
    background-color: #fff;
  }
  
  @media screen and (max-width:980px){
    .container2{
       margin-top: 24%;
      }
      html body #myCarousel .carousel-inner{ height:430px;  }

  }
   @media screen and (max-width:800px){
    .container2{
       margin-top: 28%;
      }
      html body #myCarousel .carousel-inner{ height:430px;  }
      
 
  }
   @media screen and (max-width:768px){
    .container2{
       margin-top: 28%;
      }
      html body #myCarousel .carousel-inner{ height:430px;  }
      .btn-success1 {
        top: -127px;
     }
 
  }
  
   @media screen and (max-width:320px){
    
      .btn-success1 {
        top: -10px;
          position:relative;
     }
     .container2{
       margin-top: 0;
      }
      .btn-bottom-right {
    padding: 9px 63px;
}
 
  }
     @media screen and (min-width:481px){
    
     
      .freez-header{
        position: fixed;
          
  }
 
  }
</style>